<!-- adapted from https://channels.readthedocs.io/en/stable/tutorial/index.html -->
{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% if request.user.is_authenticated %}
{% block content %}

<div class="grid-x grid-padding-x">
<div class="large-4 medium-6 small-12 large-offset-4 medium-offset-3 cell">
<body>
    <textarea id="doc-textarea" style="font-family:Consolas;" cols="100" rows="20">{{ body }}</textarea><br>
    <input id="doc-submit" class="button" value="Save">
    {{ document_id|json_script:"doc-id" }}
    <script>
        const docID = JSON.parse(document.getElementById('doc-id').textContent);
        console.log(document);
        const docSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/doc/'
            + docID
            + '/'
        );

        docSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#doc-textarea').value = (data.message);
        };

        docSocket.onclose = function(e) {
            console.error('Document socket closed unexpectedly');
        };

        document.querySelector('#doc-textarea').focus();
        document.querySelector('#doc-textarea').onkeyup = function(e) {
            if (e.keyCode >= 32 | e.keyCode === 13 | e.keyCode === 10) {  // normal keyboard symbols, backspace or return
                document.querySelector('#doc-submit').click();
            }
        };

        document.querySelector('#doc-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#doc-textarea');
            const message = messageInputDom.value;
            docSocket.send(JSON.stringify({
                'message': message
            }));
        };
    </script>
</body>
</div>
</div>

{% endblock %}
{% endif %}
{% block scripts %}
{% endblock %}